<nav class="container">
  <ul>
    <li><strong>Blog</strong></li>
  </ul>
  <ul>
    <li><a href="{{ path("article_list") }}">Articles</a></li>
    <li><a href="{{ path("category_list") }}">Catégories</a></li>
    <li><a href="{{ path("user_list") }}">Utilisateurs</a></li>
  </ul>
</nav>
