<nav>
    <ul>
        <li class="brand">
            <span class="brand-badge">SB</span>
            <strong>Symfony Blog</strong>
        </li>
    </ul>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ path('categories') }}">Categories</a></li>
    </ul>
</nav>
