<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  </head>
  <body>
    {% include "partials/_navbar.html.twig" %}
    <main class="container">
      {% block body %}{% endblock %}
    </main>
    {% include "partials/_footer.html.twig" %}
  </body>
</html>
